*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:focus {
    color: #00797D !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 0.5px solid #00797D !important;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif !important;
    font-size: 1em;
    color: #344563;
    letter-spacing: 0.02em !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik', sans-serif !important;
    font-weight: normal;
}

/* Navbar Starts Here */

.navbar{
    width: 100%;
    padding: 5px 40px;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #fff !important;
    transition: background-color 500ms linear;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.03);
}

.navbar .logo{
    margin: 0;
    margin-top: -8px;
    padding: 0;
}

.navbar .logo img{
    width: 115px;
    height: 19px;
}

.navbar .mr-auto {
    margin-left: 45px;
    margin-top: -16px;
}

.navbar .mr-right{
    margin-right: 0px;
    margin-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar .mr-auto li, .navbar .mr-right li{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 15px;
}
.navbar .mr-auto li:last-child, .navbar .mr-right li:last-child {
    margin-right: 0px;
}

.navbar .mr-auto li .links, .navbar .mr-right li .links {
    color: #5E6C84;
    font-size: 0.94em;
}
.navbar .mr-right li .links img {
    width: 16px;
    height: 15px;
    margin-left: 3px;
    margin-top: -3px;
}
.navbar .mr-auto li .links.active, .navbar .-mr-right li .links.active {
    color: #00797D;
}

.navbar .mr-right li.login {
    margin-bottom: 14px;
}

.navbar .mr-right li .links.sign-in {
    color: #00797D;
}
.navbar .mr-right li .links.sign-up {
    padding: 10px 25px;
    color: #00797D;
    border-radius: 3px;
    border: 1px solid #00797D;
}

.navbar .mr-auto li .links:hover, .navbar .mr-right li .links:hover{
    color: #00797D;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.navbar .mr-right li .links.sign-up:hover {
    color: #fff;
    background: #00797D;
}

.navbar .mr-right .nav-item.dropdown .help {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -7px;
}
.navbar .mr-right .nav-item.dropdown .help:hover {
    color: #64C8BC;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.navbar .mr-right .nav-item.dropdown.user {
    margin-right: 0px;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -12px;
}
.navbar .mr-right .nav-item.dropdown .username:hover {
    color: #64C8BC;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: -3px;
    margin-left: 15px;
    border: 1px solid #eee;
    border-radius: 100%;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9em;
    padding: 6px 15px;
    padding-bottom: 7px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff !important;
    color: #00797D !important;
}

.open-nav{
    display: none;
}


/*Offers Page Starts Here*/

.content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
}

.content.all-offers {
    position: relative;
    width: 100%;
    display: block;
}

.content .left::-webkit-scrollbar {
    width: 0px;
}

.content .left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.content .left::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8); 
}
.content .left::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(197, 197, 197, 0.8); 
}

.content .left.sidebar {
    position: sticky;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 450px;
    height: 100vh;
    background: #FFF;
    padding: 40px;
    padding-bottom: 80px;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
}

.content .left .cards {
    display: block;
    background: #F8F8F9;
    border-radius: 5px;
    margin-bottom: 128px;
}

.content .left .cards .card {
    text-align: center;
    padding: 60px 30px;
    border: none;
    background: transparent;
}
.content .left .cards .card.first {
    padding-bottom: 0px;
}

.content .left .cards .card img {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.content .left .cards .card h5 {
    font-size: 1.2em;
    font-weight: normal;
    color: #5E6C84;
    margin: 0;
    margin-bottom: 10px;
}

.content .left .cards .card p {
    font-size: 0.9em;
    color: #8691A3;
    margin-bottom: 15px;
}

.content .left .cards .card a {
    padding: 7px 12px;
    font-size: 0.9em;
    color: #fff;
    background: #64C8BC;
    border-radius: 2.5px;
    width: 116px;
    align-self: center;
}
.content .left .cards .card a:hover {
    text-decoration: none;
}

.content .left .actions {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 15px 40px;
    padding-bottom: 13px;
    background: #fff;
}

.content .left .actions a {
    color: #5E6C84;
    font-size: 0.8em;
}
.content .left .actions a:hover {
    color: #000;
    text-decoration: none;
}

.content .left .actions a img {
    width: 23px;
    margin-right: 5px;
}


.content .right {
    width: 100%;
    padding: 45px 40px;
    background: #F3F7FA;
}

.content .right .head-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .right .all-offers {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.content .right .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 35px;
}

.content.all-offers .right .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 35px;
}

.content .right .cards .card {
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 9.5px 20px rgba(94, 108, 132, 0.13);
    border-radius: 5px;
    height: fit-content;
}

.content .right .cards .card .top {
    display: flex;
    padding: 18px 18px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E8EAED;
}

.content .right .cards .card .top img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.content .right .cards .card .top .right {
    padding: 0px;
    background: #fff;
}

.content .right .cards .card .top .right h5 {
    font-size: 0.9em;
    font-weight: bold;
    color: #5E6C84;
    margin-bottom: 14px;
}

.content .right .cards .card .top .right .tabs {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 10px;
}

.content .right .cards .card .top .right .tabs .tab .label {
    font-size: 0.6em;
    color: #344563;
    margin-bottom: 5px;
}

.content .right .cards .card .top .right .tabs .tab h6 {
    font-size: 0.8em;
    color: #5E6C84;
    margin-bottom: 0px;
}

.content .right .cards .card .top .right .tabs .tab .badge {
    font-size: 0.6em;
    font-weight: normal;
    padding: 3px 6px;
    color: #64C8BC;
    background: rgb(100,200,180, 0.2);
    border-radius: 32px;
    margin: 0;
    margin-top: 10px;
}

.content .right .cards .card .mid {
    padding: 25px 10px;
    display: flex;
    text-align: center;
}

.content .right .cards .card .mid .info {
    width: 100%;
    height: auto;
}
.content .right .cards .card .mid .info.left {
    padding: 0px;
    border-right: 1px solid #E8EAED;
}
.content .right .cards .card .mid .info.right {
    background: #fff;
    padding: 0px;
}

.content .right .cards .card .mid .info .rating {
    margin-bottom: 4px;
}

.content .right .cards .card .mid .info .rating i {
    font-size: 0.6em;
    color: #64C8BC;
}

.content .right .cards .card .mid .info h4 {
    font-size: 1.35em;
    margin: 0;
    margin-bottom: 5px;
}

.content .right .cards .card .mid .info h4 a {
    padding: 0;
    margin: 0;
}
.content .right .cards .card .mid .info h4 a img {
    width: 15px;
}

.content .right .cards .card .mid .info p {
    font-size: 0.65em;
    color: #344563;
    margin: 0px;
}

.content .right .invest-btn {
    background: #64C8BC;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding: 13px;
    width: 100%;
}
.content .right .invest-btn:hover {
    text-decoration: none;
}



/*Offers Page Stops Here*/



/*Details Page Starts Here*/


.d-body {
    font-size: 1.15em;
    letter-spacing: 0.02em;
}

.content .right.details {
    padding: 45px 80px;
}

.content .right.details .all-offers {
    display: block;
}

.content .right.details .all-offers a {
    color: #64C8BC;
    font-size: 0.7em;
    font-weight: normal;
    text-align: left;
}

.content .right.details .all-offers a img {
    margin-right: 7px;
    margin-top: 0px;
}

.content .right.details .all-offers p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.content .right .details-div {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border-radius: 5px;
}

.content .right .details-div .top {
    display: flex;
    padding: 30px 25px;
    border-bottom: 1px solid #E8EAED;
}

.content .right .details-div .top img {
    width: 68px;
    height: 68px;
    margin-right: 30px;
}

.content .right .details-div .top .right {
    padding: 0px;
    background: #fff;
}

.content .right .details-div .top .right h5 {
    font-size: 1.14em;
    font-weight: bold;
    color: #5E6C84;
    letter-spacing: 0.02em;
    margin-bottom: 17px;
}

.content .right .details-div .top .right .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content .right .details-div .top .right .tabs .tab .label {
    font-size: 0.7em;
    color: #344563;
    margin-bottom: 5px;
}

.content .right .details-div .top .right .tabs .tab h6 {
    font-size: 1em;
    color: #5E6C84;
    margin-bottom: 0px;
}

.content .right .details-div .top .right .tabs .tab .badge {
    font-size: 0.6em;
    font-weight: normal;
    padding: 3px 6px;
    color: #64C8BC;
    background: rgb(100,200,180, 0.2);
    border-radius: 32px;
    margin: 0;
}

.content .right .details-div .mid {
    padding: 30px 25px;
    border-bottom: 1px solid #E8EAED;
}

.content .right .details-div .mid .text {
    font-size: 0.85em;
    letter-spacing: 0.03em;
    line-height: 23px;
    color: #5E6C84;
    margin-bottom: 24px;
}

.content .right .details-div .mid .infos {
    display: flex;
    text-align: center;
}

.content .right .details-div .mid .info {
    width: 100%;
    height: auto;
}

.content .right .details-div .mid .info .rating {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.content .right .details-div .mid .info .rating i {
    font-size: 0.6em;
    color: #64C8BC;
    margin-top: 9px;
    margin-left: 7px;
}

.content .right .details-div .mid .info h4 {
    font-size: 1.3em;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.content .right .details-div .mid .info p {
    font-size: 0.65em;
    color: #344563;
    margin: 0px;
}

.content .right .details-div .bottom {
    margin: 0 auto;
    width: 80%;
    padding-top: 58px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.content .right .details-div .bottom .info p {
    font-size: 0.79em;
    margin: 0;
    margin-bottom: 8px;
}

.content .right .details-div .bottom .info h4 {
    font-size: 1.05em;
    margin: 0;
}

.content .right .details-div .ui.selection.dropdown {
    padding: 0px;
    padding-top: 18px;
    margin-top: -15px;
    font-size: 0.9em;
    width: 156px;
    border-radius: 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #C1C7D0;
}

.ui.fluid.dropdown>.dropdown.icon {
    margin-top: -4px;
}

.content .right .details-div .ui.selection.active.dropdown {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.content .right .details-div .ui.selection.active.dropdown:hover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content .right .details-div .bottom .info .fund-btn {
    margin: 0;
    padding: 13px;
    background: #64C8BC;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    cursor: pointer;
}


/*Details Page Stops Here*/


/*Dashboard Page Starts Here*/


.content .left .stats {
    padding: 14px 15px;
    background: #F8F8F9;
    border-radius: 5px;
}

.content .left .stats .stat {
    padding: 15px 14px;
    margin-bottom: 3px;
}
.content .left .stats .stat.first {
    background: #6554C0;
    border-radius: 2.5px;
}

.content .left .stats .stat p {
    font-size: 0.8em;
    color: #5E6C84;
    margin-bottom: 8px;
}

.content .left .stats .stat h3 {
    font-size: 1.2em;
    color: #344563;
    margin: 0;
}

.content .left .stats .stat.first p, .content .left .stats .stat.first h3 {
    color: #fff;
}

.content .left .stats .stat h3 img {
    margin-left: 12px;
    margin-top: -2px;
}

.content .left .stats .stat label {
    font-size: 0.8em;
    color: #64C8BC;
}
.content .left .stats .stat label span {
    margin-left: 7px;
    color: #8691A3;
}

.content .left .stats.last {
    padding: 5px 15px;
    margin-top: 24px;
}

.content .left .stats .stat-buttons {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.content .left .stats .stat-buttons a {
    font-size: 0.9em;
    padding: 7px 15px;
    border-radius: 2.5px;
}

.content .left .stats .stat-buttons a.fund {
    color: #fff;
    background: #64C8BC;
}
.content .left .stats .stat-buttons a.withdraw {
    color: #64C8BC;
    background: #64C8BC;
    opacity: 0.1;
}


.content .right {
    width: 100%;
    padding: 45px 40px;
    background: #F3F7FA;
}

.content .right .head-text h4 button {
    font-family: 'Rubik', sans-serif !important;
    font-size: 0.7em;
    padding: 7px 15px;
    color: #fff;
    background: #64C8BC;
    border: none;
    border-radius: 2.5px;
    margin-left: 26px;
    cursor: pointer;
}

.content .right .head-text .ui.dropdown {
    padding: 4px 10px;
    width: 110px;
    margin-top: -30px;
    border-radius: 100px;
    color: #344563;
    font-weight: bold;
    background: rgb(134, 145, 163, 0.2);
}

.content .right .head-text .ui.fluid.dropdown>.dropdown.icon {
    margin-top: 5px;
}

.content .right .head-text .ui.dropdown>.text {
    font-size: 0.8em;
}

.content .right .head-text .ui.dropdown .menu {
    width: inherit;
}

.content .right .cards-row .card {
    padding: 25px 20px;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cards-row .card .card-img {
    width: 40px;
    height: 40px;
}

.cards-row .card .info {
    margin-left: 10px;
}
.cards-row .card .info.first {
    padding-right: 20px;
    border-right: 1px solid #E8EAED;
}

.cards-row .card .info h4 {
    color: #5E6C84;
    font-size: 0.95em;
    margin-bottom: 10px;
}

.cards-row .card .info p {
    color: #344563;
    font-size: 0.8em;
    margin: 0px;
    margin-top: 4px;
}

.cards-row .card .info p img {
    margin-top: -4px;
    margin-right: 9px;
}

.cards-row .card .info p span {
    color: #2CA4E8;
    padding: 3px 10px;
    background: #2CA4E8;
    opacity: 0.1;
    border-radius: 32px;
    margin-left: 15px;
}

.cards-row .card .info h6 {
    font-size: 0.8em;
    color: #5E6C84;
    margin-bottom: 10px;
}

.cards-row .card .info h5 {
    font-size: 0.95em;
    color: #344563;
    margin: 0px;
}

.cards-row .card i {
    font-size: 1.3em;
    color: #5E6C84;
}

.content .right .table-responsive {
    padding: 16px 20px;
    padding-bottom: 0px;
    background: #fff;
    border-radius: 5px;
}

.content .right .table {
    padding: 0;
    margin: 0;
}

.content .right .table thead tr td {
    padding-bottom: 10px;
    font-size: 0.85em;
    color: #344563;
    border: none;
    border-bottom: 1px solid #E8EAED;
}

.content .right .table tbody tr:nth-child(even){
    background: #FAFCFD;
}

.content .right .table tbody tr td {
    padding-top: 21px;
    padding-bottom: 19px;
    font-size: 0.9em;
    color: #344563;
    border-bottom: 1px solid #E8EAED;
}

.content .right .table tbody tr td.reinvested {
    color: #64C8BC;
}
.content .right .table tbody tr td.transferred {
    color: #2CA4E8;
}

.content .right .table tbody tr td img {
    margin-right: 10px;
}


/*Dashboard Page Stops Here*/


/* Footer Starts Here */

footer {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: #F3F7FA;
}

footer.p-footer {
    padding-top: 90px;
    background: #F9F8FF;
}

footer .row, footer .col-md-6, footer .columns{
    padding: 0;
    margin: 0;
}

footer .columns-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

footer hr{
    margin: 30px 0px;
    margin-bottom: 20px;
}

footer .columns .footer-link-header-text{
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: #344563;
}

footer .columns .footer-links p {
    margin-bottom: 20px;
    color: #5E6C84;
    font-size: 0.9em;
}

footer .columns .footer-links .link{
    color: #5E6C84;
    letter-spacing: 0.02em;
}
footer .columns .footer-links .link:hover{
    color: #344563;
    text-decoration: none;
}

footer .columns .join {
    font-size: 0.9em;
}

footer .columns .footer-form {
    margin-top: 22px;
}

footer .columns .footer-form input {
    padding-bottom: 12px;
    font-size: 0.95em;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C1C7D0;
    border-radius: 0px;
    margin-right: 23px;
    margin-bottom: 29px;
    background: transparent;
}
footer .columns .footer-form input:focus {
    border: none !important;
    border-bottom: 1px solid #00797D !important;
}

footer .columns .footer-form .primary-btn {
    background: #64C8BC;
    border-radius: 3px;
    width: 100%;
    padding: 13px 35px;
    padding-top: 14px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    color: #fff;
    border: none;
    cursor: pointer;
}

.rule {
    margin: 0 auto;
    width: 88%;
    background: #C6CCD5;
    margin-top: 70px;
    margin-bottom: 32px;
    height: 1px;
    opacity: 0.3;
}

footer .copy {
    margin: 0;
    font-size: 0.85em;
    text-align: center;
    color: #5E6C84;
}


/* Footer Ends Here */



/*Responsive Page Starts Here*/

@media screen and (max-width: 1310px){
    /*.content .right .table {
        width: 1200px;
    }*/
}

@media screen and (max-width: 1250px){
    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 5px;
    }
}

@media screen and (max-width: 1080px){
    .content .right.details {
        padding: 45px 30px;
    }
}

@media screen and (max-width: 1050px){
    .content .right .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 35px;
    }

    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 10px 30px;
    }

    .navbar .mr-auto {
        margin-left: 0px;
        margin-top: 5px;
        width: 50%;
    }

    .navbar .mr-auto li, .navbar .mr-right li{
        margin-bottom: 5px;
    }

    .navbar .mr-right .login {
        margin-top: 25px;
        margin-bottom: 20px !important;
    }

    .open-nav{
        display: block;
        position: relative;
        width: 30px;
        margin-left: 10px;
        margin-top: 5px;
        transform: rotate(180deg);
    }

    .content .left.sidebar {
        padding: 45px 30px;
    }

    .content .left::-webkit-scrollbar {
        width: 5px;
    }

    .content .left .actions {
        margin-top: 40px;
    }

    .content .right {
        padding: 45px 30px;
    }

    .content .right .details-div .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    footer{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 940px){
    .content.details {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content.details .left.sidebar {
        display: none;
    }

    .content .right .details-div .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 860px) {
    .content .left.sidebar {
        padding: 45px 30px;
    }

    .content .right {
        padding: 45px 30px;
    }

    .content.all-offers .right .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 35px;
    }

    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 10px;
    }

    .content .right .cards .card .top .right .tabs .tab .badge {
        margin-top: 0px;
    }
}

@media screen and (max-width: 830px) {
    footer .columns-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .content.all-offers .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        padding: 10px 20px;
        z-index: 7;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content .left.sidebar {
        padding: 45px 20px;
        display: none;
    }

    .content .right {
        padding: 45px 20px;
    }

    .content .right.details {
        padding: 45px 20px;
    }

    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 10px;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 620px) {
    .content.all-offers .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 10px 10px;
    }

    .content .right {
        width: 100%;
        padding: 40px 10px;
    }

    .content .right.details {
        padding: 45px 10px;
    }

    footer{
        padding-left: 0px;
        padding-right: 0px;
    }

    footer .section {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 540px){
    .navbar .mr-auto {
        width: 90%;
    }

    .content.all-offers .right .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 35px;
    }

    .content.all-offers .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-row-gap: 10px;
    }

    footer .columns-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 470px){
    .content .right .details-div .top {
        display: block;
    }

    .content .right .details-div .top img {
        width: 50px;
        height: 50px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .content .right .details-div .top .right h5 {
        font-size: 1.5em;
        font-weight: bold;
        color: #344563;
    }

    .content .right .details-div .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .content .right .details-div .mid .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
    }

    .content .right .details-div .bottom {
        padding: 30px 25px;
        width: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 405px){
    .content .right .details-div .top img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }

    .content .right .details-div .mid .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
    }

    .content .right .details-div .bottom {
        padding: 30px 25px;
        width: 80%;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 40px;
    }

    .content .right .details-div .bottom .info.total {
        text-align: center;
        padding: 15px;
        border: 1px solid #E8EAED;
    }

    .content .right .details-div .bottom .info.total p {
        text-transform: uppercase;
    }

    .content .right .details-div .bottom .info.total h4 {
        font-size: 1.4em;
        font-weight: bold;
    }
}

@media screen and (max-width: 400px){
    .navbar{
        padding: 6px 10px;
    }

    footer{
        padding: 25px 0px;
    }
}

@media screen and (max-width: 380px){
    .content .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }

    .content.all-offers .right .cards .card .top .right .tabs {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 350px){
    footer .columns-row {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    footer .columns-row .columns.last {
        display: none;
    }

    .rule {
        margin-top: 28px;
        margin-bottom: 32px;
    }
}