*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:focus {
    color: #00797D !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 0.5px solid #00797D !important;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #344563;
    letter-spacing: 0.02em !important;
}

/* Navbar Starts Here */

.sign .navbar{
    width: 100%;
    padding: 5px 80px;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #fff !important;
    transition: background-color 500ms linear;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.03);
    display: none;
}

.sign .navbar .logo{
    margin: 0;
    margin-top: -8px;
    padding: 0;
}

.sign .navbar .logo img{
    width: 115px;
    height: 19px;
}

.sign .navbar .mr-auto {
    margin-left: 45px;
    margin-top: -16px;
}

.sign .navbar .mr-right{
    margin-right: 0px;
    margin-bottom: 0px;
}

.sign .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.sign .navbar .mr-auto li, .navbar .mr-right li{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 15px;
}

.sign .navbar .mr-auto li .links, .navbar .mr-right li .links {
    color: #5E6C84;
    font-size: 0.94em;
}
.sign .navbar .mr-right li .links img {
    width: 16px;
    height: 15px;
    margin-left: 3px;
    margin-top: -3px;
}
.sign .navbar .mr-auto li .links.active, .navbar .-mr-right li .links.active {
    color: #00797D;
}

.sign .navbar .mr-right li.login {
    margin-bottom: 14px;
}

.sign .navbar .mr-right li .links.sign-in {
    color: #00797D;
}
.sign .navbar .mr-right li .links.sign-up {
    padding: 10px 25px;
    color: #00797D;
    border-radius: 3px;
    border: 1px solid #00797D;
}

.sign .navbar .mr-auto li .links:hover, .navbar .mr-right li .links:hover{
    color: #00797D;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.sign .navbar .mr-right li .links.sign-up:hover {
    color: #fff;
    background: #00797D;
}

.sign .navbar .mr-right .nav-item.dropdown .help {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -7px;
}
.sign .navbar .mr-right .nav-item.dropdown .help:hover {
    color: #64C8BC;
    transition: all .1s ease-in-out;
}

.sign .navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.sign .navbar .mr-right .nav-item.dropdown.user {
    margin-right: 0px;
}

.sign .navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -12px;
}
.sign .navbar .mr-right .nav-item.dropdown .username:hover {
    color: #64C8BC;
    transition: all .1s ease-in-out;
}

.sign .navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: -3px;
    margin-left: 15px;
    border: 1px solid #eee;
    border-radius: 100%;
}

.sign .nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.sign .nav-item.dropdown .dropdown-menu hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

.sign .nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9em;
    padding: 6px 15px;
    padding-bottom: 7px;
}

.sign .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff !important;
    color: #00797D !important;
}

.sign .open-nav{
    display: none;
}


.sign .content {
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
}

.sign .content .left-side {
    display: block;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 20px;
    width: 100%;
    height: 100vh;
    background: #F8F8F9;
    background-image: url(../images/left-sidebar-back.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.sign .left-side .logo {
    width: 115px;
    height: 19px;
    margin-bottom: 88px;
}

.sign .left-side h3 {
    font-size: 1.7em;
    line-height: 37px;
    letter-spacing: 0.25px;
}

.sign .left-side .highlights {
    margin-top: 48px;
}

.sign .highlights .list {
    display: flex;
    margin-bottom: 35px;
}

.sign .highlights .list img {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.sign .highlights .list p {
    margin: 0;
}

.sign .content .form-div {
    width: 100%;
    margin: 0;
    padding: 80px 20px;
}

.sign .form-div form {
    margin: 0 auto;
    padding: 0;
    width: 60%;
}

.sign .form-div .form.form-two {
    font-size: 1.15em !important;
}

.sign .form-div form h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 50px;
}

.sign .form-div .form-group {
    margin-bottom: 40px;
}

.sign .form-div .form-group input {
    padding: 0px 0px 5px 0px;
    font-size: 0.9em;
    width: 100%;
    letter-spacing: 0.03em;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #C1C7D0;
}

.sign .form-div .form-group input:focus {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #00797D !important;
}

.sign .form-div .form-group .custom-file {
    border: none;
}

.sign .form-div .form-group .custom-file .custom-file-label {
    font-size: 0.9em;
    color: #8691A3;
    letter-spacing: 0.03em;
    font-family: 'Rubik', sans-serif;
    padding: 5px 0px 0px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #C1C7D0;
    border-radius: 0px;
}

.sign .form-div .form-group .custom-file .custom-file-label::after {
    padding: .375rem .75rem;
    padding-right: 0px;
    color: #64C8BC;
    content: "Upload";
    background-color: transparent;
    border-left: none;
    border-radius: 0px;
}

.sign .form-div .form-group .custom-file input:focus {
    box-shadow: none;
}

.sign .form-div .dropdown {
    margin-bottom: 40px;
    padding-left: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #C1C7D0 !important;
    font-size: 0.9em;
}

.sign .form-div .check {
    padding: 18px 25px;
    background: #F8F8F9;
    border-radius: 3px;
    color: #8691A3;
    font-size: 0.8em;
    margin-bottom: 25px;
}

.sign .form-div .custom-control {
    padding-left: 20px;
    margin: 0;
}

.sign .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #64C8BC;
}

.sign .custom-checkbox .custom-control-label {
    padding-top: 2px;
}

.sign .form-div .alert {
    display: flex;
    font-size: 0.75em;
    color: #FF6161;
    background: #FDECEC;
    opacity: 0.7;
    border-radius: 3px;
}

.sign .form-div .alert img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.sign .alert-dismissible .close {
    padding-top: .6rem;
}

.sign .form-div .sign-up-btn {
    background: #64C8BC;
    border-radius: 3px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    padding: 13px;
    width: 100%;
}

.sign .form-div .already {
    text-align: center;
    font-size: 0.88em;
    color: #5E6C84;
    margin-top: 18px;
}

.sign .form-div .already a {
    color: #64C8BC;
}


/*Verification Page Starts Here*/

.sign .mail-div {
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.sign .mail-div img {
    width: 60px;
    height: 60px;
}

.sign .mail-div h3 {
    font-size: 1.5em;
    margin-top: 27px;
    margin-bottom: 17px;
}

.sign .mail-div p {
    font-size: 0.9em;
}

/*Verification Page Stops Here*/



/*Onboarding Page Stops Here*/


.content.onboard {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
}

.content.onboard .left {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F8F8F9;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 60px;
}

.content.onboard .left .logo {
    width: 115px;
    height: 19px;
    position: relative;
}

.content.onboard .left h3 {
    font-size: 1.6em;
    line-height: 35px;
    color: #344563;
    letter-spacing: 0.03em;
    margin-top: 80px;
    margin-bottom: 40px;
}
.content.onboard .left h3 span {
    font-weight: bold;
}

.content.onboard .left.left-two h3 {
    font-size: 1.85em;
}

.content.onboard .left p {
    font-size: 0.9em;
    color: #8691A3;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
}
.content.onboard .left.left-two p {
    font-size: 1.05em;
}

.content.onboard .left .progress-div img.main-img {
    width: 100%;
    height: 154px;
}
.content.onboard .left .progress-div img.res-img {
    display: none;
}


.content.onboard .right {
    width: 100%;
    padding: 80px 80px;
}

.content.onboard .right p {
    color: #5E6C84;
    font-size: 0.9em;
    line-height: 25px;
    margin: 0;
}

.content.onboard .right .option {
    margin-top: 12px;
    margin-bottom: 30px;
}

.content.onboard .right .option .custom-control {
    color: #5E6C84;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.content.onboard .right .option-cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.content.onboard .right .option-cards .card {
    padding: 20px 20px;
    padding-top: 0px;
    background: #F7F9FA;
    border: 1px solid #F7F9FA;
    border-radius: 3px;
    text-align: center;
}

.content.onboard .right .option-cards .card:hover {
    border: 1px solid #64C8BC;
    background: #FAFCFD;
    box-shadow: 0px 9.5px 20px rgba(94, 108, 132, 0.13);
}

.content.onboard .right .option-cards .card .custom-control {
    margin-top: 0px;
    text-align: left;
}

.content.onboard .right .option-cards .card img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 23px;
}

.content.onboard .right .option-cards .card h6 {
    font-weight: bold;
    font-size: 1.1em;
}

.content.onboard .right .option-cards .card p {
    font-size: 0.84em;
    margin-bottom: 0px;
}


.content.onboard .right .btn-div {
    text-align: center;
}

.content.onboard .right .sign-up-btn {
    background: #64C8BC;
    border-radius: 3px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    padding: 13px;
    margin-top: 80px;
    width: 70%;
}

.content.onboard .form .ui.selection.active.dropdown {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.content.onboard .form .ui.selection.active.dropdown:hover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*Onboarding Page Stops Here*/



/*Responsive Page Starts Here*/

@media screen and (max-width: 1055px){
    .content.onboard .right .option-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 991px){
    .sign .navbar{
        padding: 10px 30px;
    }

    .sign .navbar .mr-auto {
        margin-left: 0px;
        margin-top: 5px;
        width: 50%;
    }

    .sign .navbar .mr-auto li, .navbar .mr-right li{
        margin-bottom: 5px;
    }

    .sign .navbar .mr-right .login {
        margin-top: 25px;
        margin-bottom: 20px !important;
    }

    .sign .open-nav{
        display: block;
        position: relative;
        width: 30px;
        margin-left: 10px;
        margin-top: 5px;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 920px) {
    .sign .form-div form {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .sign .content.onboard .right {
        width: 100%;
        padding: 80px 20px;
    }
}

@media screen and (max-width: 800px) {
    .sign .form-div form {
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .sign .navbar{
        padding: 10px 20px;
        display: flex;
        z-index: 7;
    }

    .sign .content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .sign .content .left-side {
        display: none;
    }

    .sign .form-div form {
        width: 60%;
    }

    .sign .mail-div {
        margin-top: 80px;
    }

    .sign .mail-div img {
        display: block;
        margin: 0 auto;
    }

    .content.onboard {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .content.onboard .left {
        position: relative;
        width: 100%;
        height: fit-content;
        background: #FFF;
        padding: 0px 20px;
    }

    .content.onboard .left h3 {
        font-size: 1.9em;
        line-height: 40px;
        text-align: center;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .content.onboard .left h3 span {
        font-weight: bold;
    }

    .content.onboard .left p {
        font-size: 1em;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    .content.onboard .left .progress-div img {
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .content.onboard .left .progress-div img.main-img {
        display: none;
    }
    .content.onboard .left .progress-div img.res-img {
        display: block;
        width: 312px;
        height: 201px;
    }

    .content.onboard .right {
        width: 100%;
        padding: 40px 20px;
    }

    .content.onboard .right .option-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .content.onboard .right .option-cards .card img {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        display: block;
        position: relative;
        margin-top: 30px;
        margin-bottom: 23px;
    }

    .content.onboard .right .sign-up-btn {
        padding: 20px 13px;
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .sign .navbar{
        padding: 10px 10px;
    }

    .content.onboard .left {
        padding: 0px 10px;
    }

    .content.onboard .right {
        width: 100%;
        padding: 40px 10px;
    }
}

@media screen and (max-width: 540px){
    .sign .navbar .mr-auto {
        width: 90%;
    }

    .sign .form-div form {
        width: 80%;
    }

    .content.onboard .right .option-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 400px){
    .sign .navbar{
        padding: 6px 10px;
    }

    .sign .form-div form {
        width: 100%;
    }

    .content.onboard .left .progress-div img.res-img {
        width: 272px;
        height: 161px;
    }
}